---
---
<!DOCTYPE html>

<head>
{% include head.ext %}

    <title>XCode</title>

    <link rel="canonical" href="{{site.url}}/tutorials/v06/xcode/" />
</head>

<body>
<div id="body" class="NoMargin">
{% include navigation.ext %}

<div id="contents" class="NoMargin">
    <h2>XCode</h2>
    <div>
        <h3>CMake</h3>

        <p>
          <ul>
            <li>You will need to use CMake in order to build TGUI. You can download the latest version <a href="http://www.cmake.org/cmake/resources/software.html">here</a>.</li>
            <li>In order to use CMake, you will need to install the Command Line Tools in Xcode.<br />
                Go to Preferences > Downloads and click on the Install button next to the Command Line Tools.<br />
                If I remember correctly then you will be asked to register first (free).</li>
            <li>Also make sure that you already have sfml on your computer.
                It would be even better to make sure you have sfml working before trying to use TGUI.
                If something goes wrong afterwards, you can be sure that the problem does not lie with sfml.</li>
          </ul>
        </p>

        <p class="SmallBottomMargin">
          <ol>
            <li>Set the pathname to the TGUI folder that you downloaded.</li>
            <li>Set a folder to build TGUI in, usually a new empty folder in the same directory as (1).</li>
            <li>Press this button to start configuring.</li>
          </ol>
        </p>
        <a class="img" href="{{site.url}}/resources/CMakeBuildDirectoryMac.png"><img alt="CMake Build Directory" src="{{site.url}}/resources/CMakeBuildDirectoryMac.png" width="790" height="546" /></a>

        <p class="SmallBottomMargin">
            Next select your compiler.<br />
            Just keep the “Use default native compilers” option checked and ignore the other three options.
        </p>
        <a class="img" href="{{site.url}}/resources/CMakeSelectCompilerMac.png"><img alt="CMake Select Compiler" src="{{site.url}}/resources/CMakeSelectCompilerMac.png" width="790" height="546" /></a>

        <p class="SmallBottomMargin">It is possible that CMake will give you an error, it might looks for sfml in the wrong folder. As you can see on the screenshot it looks in the /Library/Frameworks/SFML.framework folder, while my headers are in “/usr/local/include”. So if you have this error then change the SFML_INCLUDE_DIR to the correct folder.
        </p>
        <a class="img" href="{{site.url}}/resources/CMakeSfmlNotFoundMac.png"><img alt="CMake SFML not found" src="{{site.url}}/resources/CMakeSfmlNotFoundMac.png" width="790" height="546" /></a>

        <p class="SmallBottomMargin">After you changed the SFML_INCLUDE_DIR (if it was necessary), and the other options that you would like to change, you need to press Configure again. Now you should have reached the message “Configuring done” at the bottom. All you have to do now is press Generate.
        </p>
        <a class="img" href="{{site.url}}/resources/CMakeGenerateMac.png"><img alt="CMake Generate" src="{{site.url}}/resources/CMakeGenerateMac.png" width="790" height="546" /></a>

        <p>Some last notes about CMake:
          <ul>
            <li>We are making dylibs, so leave the <span class="Red">TGUI_SHARED_LIBS</span> <span class="Blue">checked</span>. If you uncheck it then you will eventually end up with .a files.</li>
            <li>The <span class="Red">CMAKE_BUILD_TYPE</span> can be <span class="Blue">Release</span> or <span class="Blue">Debug</span>.</li>
            <li>Frameworks are NOT YET SUPPORTED in tgui.</li>
          </ul>
        </p>

    </div>

    <div>
        <h3>Make</h3>

        <p>You are not done yet.<br />
           CMake made a Makefile in the build directory that will build the library.<br />
           Open the terminal, go to the directory were the Makefile is and type “make”.<br />
           When this is done, type “sudo make install” and enter your password.
        </p>
    </div>

    <div>
        <h3>Using TGUI</h3>

        <p class="SmallBottomMargin">Go to the Build Settings.</p>
        <a class="img" href="{{site.url}}/resources/XCodeBuildSettings.png"><img alt="XCode Build Settings" src="{{site.url}}/resources/XCodeBuildSettings.png" width="826" height="536" /></a>

        <p class="SmallBottomMargin">
            Under “Linking” in “Other Linker Flags”, add “-ltgui” or “-ltgui-d”.<br />
            If you don’t see the “Linking” section, then you might need to select “All” instead of “Basic”.
        </p>
        <a class="img" href="{{site.url}}/resources/XCodeLinkerFlags.png"><img alt="XCode Linker Flags" src="{{site.url}}/resources/XCodeLinkerFlags.png" width="826" height="522" /></a>

        <p class="SmallBottomMargin">Under “Search Paths” in “Header Search Paths”, add the include directory of tgui.</p>
        <a class="img" href="{{site.url}}/resources/XCodeHeaderSearchPath.png"><img alt="XCode Header Search Path" src="{{site.url}}/resources/XCodeHeaderSearchPath.png" width="852" height="494" /></a>

        <p class="SmallBottomMargin">Under “Search Paths” in “Library Search Paths”, add “/usr/local/lib” if not already there.</p>
        <a class="img" href="{{site.url}}/resources/XCodeLibrarySearchPath.png"><img alt="XCode Library Search Path" src="{{site.url}}/resources/XCodeLibrarySearchPath.png" width="852" height="494" /></a>

        <p>You should now be able to use TGUI.<br />
           To test if it is working, simply take a working example code from sfml, include “TGUI\TGUI.hpp” and change sf::RenderWindow to tgui::Window.
        </p>

    </div>
</div>

{% include footer.ext %}
</div>
</body>
