---
---
<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>CodeBlocks</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <h2>CodeBlocks (precompiled libs)</h2>
    <div>
        <p>The precompiled libraries from the download page include the SFML libraries. You must use the libraries included in the download! If you really need to use your own SFML version, then you will have to use <a href="../codeblocks/">CMake</a> to recompile TGUI.</p>

        <p><span class="Red">WARNING: Screenshots are older than the description and might no longer be 100% accurate.</span></p>
    </div>

    <div>
        <h3>Using TGUI</h3>

        <p class="SmallBottomMargin">
            Open the “Project build options” and choose whether you want to change debug or release target settings. Or you can just click on the name of your project (here TGUI_Test) and set them for both.<br />
            <span class="Red">Make sure to check the “-std=c++0x” or “-std=c++11″ compiler flag.</span>
        </p>
        <a class="img" href="{{site.baseurl}}resources/CodeBlocksProjectBuildOptions.png"><img alt="CodeBlocks Project Build Options" src="{{site.baseurl}}resources/CodeBlocksProjectBuildOptions.png" width="841" height="514" /></a>

        <p class="SmallBottomMargin">
            In the “Search directories” of the “Compiler” add the path to tgui.<br />
            This will be “TGUI_Path/include” (which will include the SFML headers).
        </p>
        <a class="img" href="{{site.baseurl}}resources/CodeBlocksProjectBuildOptionsSearchDirectoriesCompiler.png"><img alt="CodeBlocks Search Directories Compiler" src="{{site.baseurl}}resources/CodeBlocksProjectBuildOptionsSearchDirectoriesCompiler.png" width="704" height="521" /></a>

        <p class="SmallBottomMargin">
            In the “Search directories” of the “Linker” add the path to the tgui libraries.<br />
            This will be “TGUI_Path/lib/TGUI” and “TGUI_Path/lib/SFML”.
        </p>
        <a class="img" href="{{site.baseurl}}resources/CodeBlocksProjectBuildOptionsSearchDirectoriesLinker.png"><img alt="CodeBlocks Search Directories Linker" src="{{site.baseurl}}resources/CodeBlocksProjectBuildOptionsSearchDirectoriesLinker.png" width="704" height="521" /></a>

        <p class="SmallBottomMargin">
            In ‘Release’ settings, add ‘-ltgui’ to the “Linker settings” under “Other linker options”.<br />
            In ‘Debug’ settings, add ‘-ltgui-d’ to the “Linker settings” under “Other linker options”.<br />
            When linking statically, you have to use ‘-ltgui-s’ and ‘-ltgui-s-d’ of course.<br />
            The order of linking has to be correct: first tgui, then the libraries from sfml, namely graphics, windows and system.
        </p>
        <a class="img" href="{{site.baseurl}}resources/CodeBlocksProjectBuildOptionsLinkerSettings.png"><img alt="CodeBlocks Linker Settings" src="{{site.baseurl}}resources/CodeBlocksProjectBuildOptionsLinkerSettings.png" width="704" height="521" /></a>

        <p>When using shared libraries, don't forget to copy tgui.dll to your project’s folder.</p>

        <p>You should now be able to use TGUI.</p>

    </div>

    {% include footer.ext %}
</div>
</body>
