*~
.DS_Store
.qtcreator/
/.idea
/.vs
/.vscode
/_site
/bin
/build*
/cmake-build-debug
/cmake-build-release
/examples/Android/libs
/examples/Android/obj
/filesystem-test-dir
/gui-builder/GuiBuilderState.txt
/gui-builder/form.txt
/gui-builder/gui-builder
/gui-builder/gui-builder.exe
/gui-builder/themes
/include/TGUI/Config.hpp
/obj
CmakeSettings.json
CombinedSources*.cpp
