h1#Title
{
    margin-bottom: 0em;
}

p#SubTitle
{
    margin-top: 0em;
    margin-bottom: 1.5em;
}

body
{
    background-color: #e0e0e0;
    background-image: url('/resources/Background.png');

    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

div
{
    margin-bottom: 2.75em;
}

div.SmallTopMargin
{
    margin-top: 10em;
}

div.SmallerMargin
{
    margin-bottom: 1.5em;
}

#Background
{
    background-color: white;

    border-style: ridge;
    border-width: 4px;
    border-color: black;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    min-width: 60em;
    width: 80%;
}


#nav
{
    margin-bottom: 10px;
}
    #nav ul {
        padding: 0;
        list-style: none;
        position: relative;
        display: inline-table;
    
        background: #f0f0f0;
    }

    #nav ul:after {
        content: "";
        clear: both;
        display: block;
    }

        #nav ul li {
            float: left;
    
            border-left: 1px solid #fafafa;
            border-right: 1px solid #e0e0e0;
        
            min-width: 7em;
            text-align: center;
        }

        #nav ul li:hover {
            background: #e0e0e0;
        }

            #nav ul li a {
                display: block;
                text-decoration: none;
    
                padding: 0.5em 1em;
                color: #777777;
            }

            #nav ul li:hover a {
                color: black;
            }

            #nav ul li:hover > ul {
                display: block;
            }

        #nav ul ul {
            display: none;
            padding: 0;
            position: absolute;
            top: 100%;
    
            background: #f0f0f0;
        }

            #nav ul ul li {
                float: none;
                border-top: 1px solid #fafafa;
                border-bottom: 1px solid #e0e0e0;
                position: relative;
            }
                #nav ul ul li a {
                    padding: 0.4em 1em;
                    color: #fff;
                }    
                    #nav ul ul li a:hover {
                        background: #e0e0e0;
                    }
            
                    #nav ul ul ul {
                        position: absolute; left: 100%; top:0;
                    }

a.img
{
    display: inline-block;

    margin-top: 0em;
    margin-bottom: 2em;
}

a.img.Thumbnail
{
    margin: 0.4em;
}

a.SmallBottomMargin
{
    margin-bottom: 0.25em;
}

img
{
    max-width: 100%;
}

p
{
    line-height: 1.4em;
}

li
{
    line-height: 1.4em;
}

p.SmallText
{
    font-size: 0.8em;
}

p.SmallBottomMargin
{
    margin-top: 0em;
    margin-bottom: 0.2em;
}

span.Red
{
    color: red;
}

span.Blue
{
    color: blue;
}

span.Date
{
    color: #9e9e9e;
    font-size: 0.7em;
}

pre
{
    line-height: 1.4em;

    margin: 0;

    width: 99%;
    overflow: auto;

    background-color: #f8f8ff;

    border: 1px solid #dedede;
}

div.Space
{
    margin-top: 20em;
    margin-bottom: 20em;
}

div.Follow
{
    margin-top: 1em;
    float:right;
}

img.Follow
{
    float: left;
    display: inline;
    margin-left: 0.4em;
    margin-right: 0em;
}
