---
---
<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>TGUI Privacy Policy</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <h2>Privacy Policy</h2>

    <div>
    <h3>Collected data</h3>
    <p>In order to estimate the amount of visitors and downloads, and to check the incoming and outgoing links, StatCounter is used to track your activity on the site. For experimental purposes, other trackers may be added to the site.
    <p>These third-party trackers may share your data.<br/>
       This data includes visited pages, your user-agent, browser information, ...
    </p>
    </div>

    <div>
    <h3>Opt-out</h3>
    <p>I do not provide a simple opt-out because I recommend disabling trackers everywhere instead of just on my site.</p>
    <p>I highly recommend you to install <a href="http://www.mozilla.org/en-US/firefox/features/">Firefox</a> and have a look at the following add-ons:<br/>
       <ul>
       <li><a href="https://addons.mozilla.org/en-US/firefox/addon/blend-in/">Blend In</a></li>
       <li><a href="https://addons.mozilla.org/en-US/firefox/addon/donottrackplus/">DoNotTrackMe</a></li>
       <li><a href="https://addons.mozilla.org/en-US/firefox/addon/ghostery/">Ghostery</a></li>
       <li><a href="https://addons.mozilla.org/en-US/firefox/addon/noscript/">NoScript</a></li>
       <li>...</li>
       </ul>

       I also recommend making your browser send the <a href="https://en.wikipedia.org/wiki/Do_Not_Track">Do Not Track header</a>.
    </p>
    </div>

    <div>
    <h3>Policy changes</h3>
    <p>This privacy policy can change at any time without a warning.<br/>
       However, because the site is open-source and hosted on Github Pages, you can follow all changes on github.
    </p>
    </div>

    {% include footer.ext %}
</div>
</body>
