---
---
<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>TGUI Privacy Policy</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <h2>Privacy Policy</h2>

    <h3>Collected data</h3>
    <p>In order to estimate the amount of visitors on the site and the amount of downloads, <a href="http://piwik.org/">Piwik</a> is used to track your activity on the site.<br/>
       This tracking may happen with or without javascript and may involve cookies. But this data will not be shared with any third-party.
    </p>
    <p>For experimental purposes, other trackers may be added to the site. These third-party trackers may share your data.<br/>
       This data includes visited pages, your user-agent, browser information, ...
    </p>

    <h3>Opt-out</h3>
    <p>I do not provide a simple opt-out because I recommend disabling trackers everywhere instead of just on my site.</p>
    <p>I highly recommend you to install <a href="http://www.mozilla.org/en-US/firefox/features/">Firefox</a> and have a look at the following add-ons:<br/>
       <ul>
       <li><a href="https://addons.mozilla.org/en-US/firefox/addon/blend-in/">Blend In</a></li>
       <li><a href="https://addons.mozilla.org/en-US/firefox/addon/donottrackplus/">DoNotTrackMe</a></li>
       <li><a href="https://addons.mozilla.org/en-US/firefox/addon/ghostery/">Ghostery</a></li>
       <li><a href="https://addons.mozilla.org/en-US/firefox/addon/noscript/">NoScript</a></li>
       <li>...</li>
       </ul>

       I also recommend making your browser send the <a href="https://en.wikipedia.org/wiki/Do_Not_Track">Do Not Track header</a>.
    </p>

    <h3>Policy changes</h3>
    <p>This privacy policy can change at any time without a warning.<br/>
       However, because the site is open-source and hosted on Github Pages, you can follow all changes on github.
    </p>

    {% include footer.ext %}
</div>
</body>
