
/* GENERAL */

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: Roboto,sans-serif;
}

body {
  background-color: #e0e0e0;
  /* background-image: url('/resources/Background.jpg'); */
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

#body {
  min-height: 100%;
  position: relative;
  background-color: #fbfbfb;
  outline-style: solid;
  outline-width: 2px;
}

#contents {
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 1.4em;
   
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   background: #ddd;
}

#footer p {
  margin: 0;
  padding: 0.3em;
  font-size: 0.8em;
}

#footer p a {
  margin-left: 0.5em
}

p, li {
  line-height: 1.4em;
}

span.Red {
  color: red;
}

span.Blue {
  color: blue;
}

.FloatLeft {
  float: left;
}

.FloatRight {
  float: right;
}


/* NAVIGATION */

#navbar {
  position: absolute;
  background-color: #333333;
  z-index: 900;
  
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  margin-bottom: 100px;
}

a#navbar-title {
  float: left;
  position: relative;
  text-decoration: none;
}

a#navbar-title h1 {
  margin: 0;
  line-height: 50px;
  font-size: 22px;
  color: #aaaaaa;
  padding: 0 20px 0 20px;
  border-right: 1px solid #808080;
}
a#navbar-title:hover h1 {
  color: white;
}

#navbar-check,
#navbar-small-menu,
.navbar-toggle {
  display: none;
}

#navbar-list-div {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 859px) {

  .navbar-toggle {
    float: right;
    display: block;
    margin: 0px 10px;
    font-size: 30px;
    color: #aaaaaa;
    cursor: pointer;
    position: relative;
    line-height: 50px;
  }
  .navbar-toggle:hover {
    color: white;
  }
  
  #navbar-toggle-open {
    display: none;
  }
  
  #navbar-list-div {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  #navbar-list-div ul {
    display: block;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  #navbar-list-div ul li a {
    display: block;
    font-size: 18px;
    color: #aaaaaa;
    text-decoration: none;
    background-color: #333333;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    border-left: 1px solid #808080;
  }
  #navbar-list-div ul li a:hover {
    color: white
  }
  
  #navbar-list-div ul ul {
    display: none
  }
  
  #navbar-check:checked ~ #navbar-toggle-closed {
    display: none
  }
  #navbar-check:checked ~ #navbar-toggle-open {
    display: block
  }

  #navbar-check:checked ~ #navbar-list-div {
    max-height: 300px
  }
}

@media only screen and (min-width: 860px) {

  #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-table;
    font-size: 18px;
  }

  #navbar ul::after {
    content: "";
    clear: both;
    display: block;
  }

  #navbar ul li {
    float: left;
  }
  #navbar ul li:hover > ul {
    display: block;
  }

  #navbar ul li a {
    display: block;
      
    font-size: 18px;
    color: #aaaaaa;
    text-decoration: none;
    height: 28px;
    
    margin: 0;
    padding: 15px 10px 7px 10px;
      
    min-width: 80px;
    text-align: center;

    border-right: 1px solid #808080;
  }
  #navbar ul li a:hover {
    color: white;
  }
  
  #navbar ul ul {
    display: none;
    left: inherit;
    background: #333333;
  }

  #navbar ul ul li {
    float: none;
    border-top: 1px solid #808080;
    position: relative;
  }
  
  #navbar ul ul li a {
    height: 1em;
    padding: 12px 10px;
    color: #aaaaaa;
  }    
  #navbar ul ul li a:hover {
    color: white;
  }
}

@media only screen and (min-width: 1060px) and (min-height: 500px) {
  #navbar {
    left: -moz-calc((100% - 1060px) / 2);
    width: -moz-calc(1060px);
    
    left: -webkit-calc((100% - 1060px) / 2);
    width: -webkit-calc(1060px);
    
    left: calc((100% - 1060px) / 2);
    width: calc(1060px);
  }
}


/* Android (webkit) hack */
body { 
  -webkit-animation: bugfix infinite 1s; 
}
@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}



/* CONTENTS */

div {
  margin-bottom: 2.5em;
}

div.SmallerMargin {
  margin-bottom: 1.5em;
}

.NoMargin {
  margin: 0;
}


/* IMAGES */

a.img {
  display: inline-block;
  margin-top: 0em;
  margin-bottom: 1em;
  
  max-width: 100%;
}

a.img.SmallBottomMargin {
  margin-bottom: 0.25em;
}

img {
    max-width: 100%;
    height: auto;
}


/* Lightbox */

.lightbox {
  position: fixed;
  z-index: 999;
  left: -100%;
  top: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  opacity: 0;

  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.lightbox img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;

  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.5);
  box-shadow: 0px 0px 8px rgba(0,0,0,.5);

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.lightbox:target {
  opacity: 1;
  left: 0;
  top: 0;
}

.lightbox:target img {
  max-height: 95%;
  max-width: 95%;
}


/* BUTTONS */

.buttonWhite {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.buttonWhite:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.buttonWhite:active {
	position:relative;
	top:1px;
}

.buttonBlue {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.buttonBlue:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.buttonBlue:active {
	position:relative;
	top:1px;
}

.buttonGreen {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.buttonGreen:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.buttonGreen:active {
	position:relative;
	top:1px;
}

.buttonOrange {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.buttonOrange:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.buttonOrange:active {
	position:relative;
	top:1px;
}


/* TEXT */

ul {
  margin-top: 0
}

p.SmallText {
  font-size: 0.8em;
}
  
p.SmallBottomMargin {
  margin-top: 0em;
  margin-bottom: 0.2em;
}


/* YOUTUBE */

@media only screen and (max-width: 419px) , only screen and (max-height: 364px) {
  div.ytvid iframe {
    width: 280px;
    height: 210px;
  }
}
@media only screen and (min-width: 420px) and (min-height: 365px) and (max-width: 479px) , only screen and (min-width: 420px) and (min-height: 365px) and (max-height: 409px) {
  div.ytvid iframe {
    width: 320px;
    height: 240px;
  }
}
@media only screen and (min-width: 480px) and (min-height: 410px) and (max-width: 639px) , only screen and (min-width: 480px) and (min-height: 410px) and (max-height: 529px) {
  div.ytvid iframe {
    width: 420px;
    height: 315px;
  }
}
@media only screen and (min-width: 640px) and (min-height: 530px) and (max-width: 959px) , only screen and (min-width: 640px) and (min-height: 530px) and (max-height: 719px) {
  div.ytvid iframe {
    width: 480px;
    height: 360px;
  }
}
@media only screen and (min-width: 960px) and (min-height: 720px) {
  div.ytvid iframe {
    width: 640px;
    height: 480px;
  }
}


/* HIGHLIGHT */

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

div.highlight {
    margin-top: 0em;
    margin-bottom: 1.2em;
}

figure.highlight {
    margin: 0em;
    margin-bottom: 1.2em;
}

pre {
  line-height: 1.4em;
  margin: 0;
  width: 99%;
  overflow: auto;
  background-color: #f8f8ff;
  border: 1px solid #dedede;
}


/* HOMEPAGE */

.HomePageSmallerColumn, .HomePageLargerColumn {
  display: inline-block;
  height: auto;
  margin-left: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
}

.HomePageLargerColumn {
  width: 53%;
}
.HomePageSmallerColumn {
  width: 43%;
}

.HomePageSmallerColumn img, .HomePageLargerColumn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

@media only screen and (max-width: 399px) {
  a.HomePageScreenshotThumbnail {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 400px) and (max-width: 574px) {
  a.HomePageScreenshotThumbnail {
    width: 50%;
    height: 50%;
    margin: 0;
  }
}

@media only screen and (min-width: 575px) {
  a.HomePageScreenshotThumbnail {
    float: left;
    width: 50%;
    height: 50%;
    margin: 0;
  }
}

a.HomePageScreenshotThumbnail img {
  display: block;
  margin: 0;
}


/* Changelog */

span.ChangelogDate {
  color: #9e9e9e;
  font-size: 0.7em;
}
