---
---
<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>TGUI v0.6 example code</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <h2>TGUI v0.6 Example code</h2>

    <div>
        <p>Click on the example code that you would like to view.</p>

        <ol>
            <li><a href="login-screen/">Login screen</a></li>
            <li><a href="loading-from-file/">Loading from file</a></li>
            <li><a href="full-example/">Full example</a></li>
        </ol>
    </div>

    {% include footer.ext %}
</div>
</body>
