---
---
<!DOCTYPE html>

<head>
{% include head.ext %}

    <title>TGUI v0.6 example code</title>
</head>

<body>
<div id="body" class="NoMargin">
{% include navigation.ext %}
    
<div id="contents" class="NoMargin">
    <h2>TGUI v0.6 Example code</h2>

    <div>
        <p>Click on the example code that you would like to view.</p>

        <p><a href="login-screen/">Login screen</a></p>
        <p><a href="loading-from-file/">Loading from file</a></p>
        <p><a href="full-example/">Full example</a></p>
        <p><a href="scrollable-panel/">Scrollable panel</a></p>
    </div>
</div>

{% include footer.ext %}
</div>
</body>
