---
---
<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>TGUI v0.5 Tutorials</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <h2>TGUI v0.5 Tutorials</h2>

    <div>
        <h3>Installation tutorials</h3>
        <p><a href="http://old.tgui.eu/tutorials/v05/visual-studio/">Visual Studio</a> - CMake</p>
        <p><a href="http://old.tgui.eu/tutorials/v05/codeblocks-precompiled-libs/">CodeBlocks</a> - precompiled libs<br />
        <a href="http://old.tgui.eu/tutorials/v05/codeblocks/">CodeBlocks</a> - CMake</p>
        <p><a href="http://old.tgui.eu/tutorials/v05/linux/">Linux (and CodeBlocks)</a> - CMake</p>
        <p><a href="http://old.tgui.eu/tutorials/v05/xcode/">XCode</a> - CMake</p>

        <p>Not having a tutorial for it doesn’t mean that the compiler/ide isn’t supported.<br />
           In theory, you should be able to use any compiler supported by cmake.</p>
    </div>

    <div>
        <h3>Introduction tutorials</h3>
        <p>The following 3 tutorials should be read before starting with the object tutorials.</p>
        <p>
           <a href="http://old.tgui.eu/tutorials/v05/intro1/">Introduction tutorial (part 1/3) - Starting with TGUI</a><br />
           <a href="http://old.tgui.eu/tutorials/v05/intro2/">Introduction tutorial (part 2/3) - Working with objects</a><br />
           <a href="http://old.tgui.eu/tutorials/v05/intro3/">Introduction tutorial (part 3/3) – Handling callbacks</a>
        </p>
    </div>

    <div>
        <h3>Object tutorials</h3>
        <p>These tutorials will discuss the different objects. Please read the getting started tutorials first.<br />
           In addition to these tutorials, you can read the example code, which is in fact a big tutorial.
        </p>
        <p><a href="http://tgui.weebly.com/v05---label.html">Label</a></p>
        <p><a href="http://tgui.weebly.com/v05---picture.html">Picture</a></p>
        <p><a href="http://tgui.weebly.com/v05---button.html">Button</a></p>
        <p><a href="http://tgui.weebly.com/v05---checkbox.html">Checkbox</a></p>
        <p><a href="http://tgui.weebly.com/v05---radiobutton.html">RadioButton</a></p>
        <p><a href="http://tgui.weebly.com/v05---slider.html">Slider</a></p>
        <p><a href="http://tgui.weebly.com/v05---scrollbar.html">Scrollbar</a></p>
        <p><a href="http://tgui.weebly.com/v05---loadingbar.html">LoadingBar</a></p>
        <p><a href="http://tgui.weebly.com/v05---editbox.html">EditBox</a></p>
        <p><a href="http://tgui.weebly.com/v05---listbox.html">ListBox</a></p>
        <p><a href="http://tgui.weebly.com/v05---combobox.html">ComboBox</a></p>
        <p><a href="http://tgui.weebly.com/v05---textbox.html">TextBox</a></p>
        <p><a href="http://tgui.weebly.com/v05---spritesheet.html">SpriteSheet</a></p>
        <p><a href="http://tgui.weebly.com/v05---animatedpicture.html">AnimatedPicture</a></p>
        <p><a href="http://tgui.weebly.com/v05---spinbutton.html">SpinButton</a></p>
        <p><a href="http://tgui.weebly.com/v05---tab.html">Tab</a></p>
        <p><a href="http://tgui.weebly.com/v05---panel.html">Panel</a></p>
        <p><a href="http://tgui.weebly.com/v05---childwindow.html">ChildWindow</a></p>
        <p><a href="http://tgui.weebly.com/v05---grid.html">Grid</a></p>
    </div>

    <div>
        <h3>Advanced tutorials</h3>
        <p><a href="http://tgui.weebly.com/v05---changing-the-font.html">Changing the font</a></p>
        <p><a href="http://tgui.weebly.com/v05---objectfiles.html">Object Files</a></p>
        <p><a href="http://tgui.weebly.com/v05---creating-custom-objects.html">Creating custom objects</a></p>
        <p><a href="http://tgui.weebly.com/v05---splitimage-explanation.html">SplitImage explanation</a></p>
        <p><a href="http://tgui.weebly.com/v05---disable-tab-key-usage.html">Disable tab key usage</a></p>
    </div>

    {% include footer.ext %}
</div>
</body>
