---
---
<!DOCTYPE html>

<head>
{% include head.ext %}

    <title>Tutorials</title>
</head>

<body>
<div id="body" class="NoMargin">
{% include navigation.ext %}

<div id="contents" class="NoMargin">
    <h2>TGUI v0.7 Tutorials</h2>

    <p>This page is about a version that is still in development. Tutorials are not finished and may change any moment.</p>

    <div>
        <h3 name="Installation_tutorials">Installation tutorials</h3>
        <p>The steps should be the same as in v0.6:</p>
        <p><a href="../v06/visual-studio/">Visual Studio</a></p>
        <p><a href="../v06/codeblocks/">CodeBlocks</a></p>
        <p><a href="../v06/xcode-dylibs/">XCode</a> - dylib<br>
        <a href="../v06/xcode-frameworks/">XCode</a> - framework<br></p>
        <p><a href="../v06/linux/">Linux</a></p>
        <p><a href="android/">Android</a></p>
    </div>

    <div>
        <h3 name="Introduction_tutorials">Introduction tutorials</h3>

        <p><a href="minimal-code/">Minimal code</a></p>

        <p><a href="creating-widgets/">Creating, copying an removing widgets</a></p>

        <p><a href="basic-widget-functions/">Basic widget functions</a></p>

        <p><a href="signals-introduction/">Introduction to signals</a><br>
           <a href="signals-optional-parameters/">Optional parameters in signals</a> (limited compiler support)<br>
           <a href="signals-connectEx/">connectEx function</a> (alternative to optional parameters)
        </p>
    </div>

    <!-- Changing the font -->
    <!-- View -->
    <!-- Theme files -->
    <!-- Loading/saving widgets -->

    <div>
        <p>Make sure to also look at the <a href="{{site.url}}/documentation/v0.7/">documentation</a> and <a href="{{site.url}}/example-code/v07/">example codes</a>.</p>
    </div>
</div>

{% include footer.ext %}
</div>
</body>
