---
---

<!DOCTYPE html>

<head>
{% include head.ext %}

    <title>Layouts</title>
</head>

<body>
<div id="body" class="NoMargin">
{% include navigation.ext %}

<div id="contents" class="NoMargin">
    <h2>Layouts</h2>

    <div>
    <h3 id="simple_bind_functions">Simple bind functions</h3>
    <p>In the <a href="../basic-widget-functions/">basic widget functions</a> I showed how you normally use the setPosition and setSize function. But they can do way more than just take constants.</p>

    <p class="SmallBottomMargin">There are a lot of bind functions in tgui to bind to the position, size or a combination. The best way to exlain is with an example.</p>
{% highlight c++ %}
button1->setSize(50, 10);
button2->setSize(tgui::bindSize(button1));

button1->setSize(100, 20);
assert(button2->getSize() == sf::Vector2f{100, 20});
{% endhighlight %}

    <p>Note that when binding the Gui object instead of a widget, its view is used as size, not the size of the window.</p>

    <p>The following bind functions exist for position and size: bindLeft, bindTop, bindRight, bindBottom, bindPosition, bindWidth, bindHeight and bindSize.</p>
    </div>

    <div>
    <h3 id="getting_rid_of_the_namespace">Getting rid of the namespace</h3>
    <p>Below I will continue without using "tgui::" in front of all the function calls. When the expressions become more complex you might feel like the whole line is cluttered with the namespace. One solution would be to use "using namespace tgui;" but this is a bad programming practice. This is why I created the TGUI_IMPORT_LAYOUT_BIND_FUNCTIONS define. Adding this somewhere will import all the bind functions while keeping everything else in the tgui namespace.</p>
    <p>Just put it somewhere on top of your file or function:</p>
{% highlight c++ %}
TGUI_IMPORT_LAYOUT_BIND_FUNCTIONS
button2->setSize(bindPosition(button1));
{% endhighlight %}
    </div>

    <div>
    <h3 id="binding_range_and_conditions">Binding range and conditions</h3>
    <p>Oh look, more bind functions! There are also bind functions to combine those simple bind functions that were mentioned above. They are called bindMin, bindMax, bindRange and bindIf.</p>
    <p class="SmallBottomMargin">The bindMin and bindMax functions are self explaining, you give them two layouts as parameter and the lowest or highest one will be used. Remember that when any of the bound widgets changes the entire expression will be recalculated so which one is the minimum or maximum will be automatically re-evaluated on changes.</p>
{% highlight c++ %}
button2->setSize(bindMax(bindSize(button1));
{% endhighlight %}
    <p class="SmallBottomMargin">The bindRange function is a combination of the two. The first two parameters are min and max and the third argument is the value that has to remain between the two values. So the following code will try to give button3 the same top position as button2, but it will be at least 100 and maximum the top position of button1.</p>
{% highlight c++ %}
button3->setPosition(0, bindRange(100, bindTop(button1), bindTop(button2));
{% endhighlight %}
    <p class="SmallBottomMargin">Finally there is the bindIf function which can use any bound condition to determine which layout to use. The parameters are in the same order as the operands of the ?: operator: first the condition, then the true value and finally the false value. The following code will keep a square image centered in the window while filling the window and keeping the square ratio.</p>
{% highlight c++ %}
auto width = bindWidth(gui);
auto height = bindHeight(gui);
pic->setSize(bindIf(width > height, {height, height}, {width, width}));
pic->setPosition(bindIf(width > height, {(width - bindWidth(pic)) / 2, 0}, {0, (height - bindHeight(pic)) / 2}));
{% endhighlight %}

    <p>As you can see in the example above, you can also use operators between layouts. You can use +, -, *, /, %, ==, !=, <, >, <=, >=, && and ||. Basically any operator that c++ allows to overload.</p>
    </div>

    <div>
    <h3 id="layouts_in_a_string">Layouts in a string</h3>
    <p class="SmallBottomMargin">Layouts can actually be created without access to the widget that you want to bind. Instead of using the bind functions you can also pass a string. Since there would be ambiguity between a float and a nullptr when passing 0, you can't provide a char* directly. So when using a string literal you should put braces around the string to construct an std::string from it.</p>
{% highlight c++ %}
button->setSize({"0.6 * parent.width"}, {"0.2 * parent.height"});
button->setSize({"{0.6 * parent.width, 0.2 * parent.height}"});
{% endhighlight %}

    <p class="SmallBottomMargin">Every widget has the following properties available: size, width, height, pos, left, top, right and bottom. You can access the parent widget by adding "parent." in front of it. You can also access sibling widgets directly by their name (which was passed to the add function when adding it to the parent). And you can even nest the parent access.</p>
{% highlight c++ %}
button2->setSize({"button1.size"});
button2->setPosition({"parent.parent.parent.MyButton.position"});
{% endhighlight %}

    <p>There are also the max, min and range functions. The min and max are even more powerful than the c++ version as they can take an arbitrary amount of parameters.</p>
    
    <p class="SmallBottomMargin">Finally there is the if-then-else statement. Let's use it in the example with the picture:</p>
{% highlight c++ %}
pic->setSize({"if parent.width > parent.height then {parent.height, parent.height} else {parent.width, parent.width}"});
pic->setPosition("if parent.width > parent.height then {(parent.width - width) / 2, 0} else {0, (parent.height - height) / 2}");
{% endhighlight %}

    <p class="SmallBottomMargin">Those lines are just too long, let's make the final version a bit shorter. Parent can be written as an &amp; and for left, top, width and height we can use x, y, w and h. And then there is also the ?: operator.</p>
{% highlight c++ %}
pic->setSize({"&.w > &.h ? {&.h, &.h} : {&.w, &.w}"});
pic->setPosition("&.w > &.h ? {(&.w - w) / 2, 0} : {0, (&.h - h) / 2}");
{% endhighlight %}

    <p>That's it. It won't get any shorter than that, unless you start dropping whitespace.</p>
    </div>

    <div>
    <h3 id="final_warning">Final warning</h3>
    <p class="SmallBottomMargin">Layouts are not normal objects, they should only be used as temporary objects. You can store them to not repeat an entire expression on multiple places, but you should best not change an existing layout. If you do have to change them, just make sure that the assigned layout does not appear on the right side of the assignment as well!</p>
{% highlight c++ %}
Layout x = 5;
x = x + 1; // Mathematically incorrect => crashes TGUI
Layout y = x + 1; // No problem
{% endhighlight %}
    </div>
</div>

{% include footer.ext %}
</div>
</body>
