---
---

<!DOCTYPE html>

<head>
{% include head.ext %}

    <title>Android</title>

    <link rel="canonical" href="{{site.url}}/tutorials/v07/android/" />
</head>

<body>
<div id="body" class="NoMargin">
{% include navigation.ext %}

<div id="contents" class="NoMargin">
  <h2>Android</h2>
  <div>
    <p>Support for TGUI v0.6 was dropped as a serious issue was found that could not be worked around.</p>
    <p>Please check out <a href="../../v07/android/">TGUI v0.7</a> instead.</p>
  </div>
</div>

{% include footer.ext %}
</div>
</body>
