---
---
<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>TGUI downloads</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <h2>Download</h2>

    <div>

        <p><b>TGUI v0.6.3</b> - latest stable version<br />
            <a href="https://www.dropbox.com/s/do2v8zlx3fnrghd/TGUI-0.6.3%20MinGW%204.7%20TDM%20%28SJLJ%29%20-%2032bit.zip">Download TGUI v0.6.3 with precompiled MinGW 4.7 TDM (SJLJ) 32-bit libraries</a> (SFML libs included)<br />
            <a href="https://www.dropbox.com/s/46tldlhdjy882wc/TGUI-0.6.3%20Visual%20C%2B%2B10%20%282010%29%20-%2032bit.zip">Download TGUI v0.6.3 with precompiled Visual C++ 10 (2010) 32-bit libraries</a> (SFML libs included)<br />
            <a href="https://www.dropbox.com/s/q3wt4bmzrq2hpn8/TGUI-0.6.3%20Visual%20C%2B%2B11%20%282012%29%20-%2032bit.zip">Download TGUI v0.6.3 with precompiled Visual C++ 11 (2012) 32-bit libraries</a> (SFML libs included)<br />
            <a href="https://www.dropbox.com/s/ko9j4hm5vyzu2ya/TGUI-0.6.3%20Visual%20C%2B%2B12%20%282013%29%20-%2032bit.zip">Download TGUI v0.6.3 with precompiled Visual C++ 12 (2013) 32-bit libraries</a> (SFML libs included)<br />
            <a href="https://github.com/texus/TGUI/archive/v0.6.3.zip">Download TGUI v0.6.3 without precompiled libs</a> (to build it yourself with CMake for any compiler with SFML 2.x)
        </p>

        <p><b>TGUI v0.5</b> - old version<br />
              <a href="https://www.dropbox.com/s/9t7atbrb3hv3zeh/TGUI-0.5.2.zip">Download TGUI v0.5.2 source code</a> (to build for your own compiler for SFML 2.x)
        </p>

    </div>

    {% include footer.ext %}
</div>
</body>
