---
---
<!DOCTYPE html>

<head>
    {% include head.ext %}

    <title>TGUI downloads</title>
</head>

<body>
<div id="Background">

    {% include header.ext %}

    {% include navigation.ext %}

    <h2>Download</h2>

    <div>

        <p><b>TGUI v0.6.4</b> - latest stable version<br />
            <a href="https://www.dropbox.com/s/11b8ijwwr7zkoo5/TGUI-0.6.4%20MinGW%204.7%20TDM%20%28SJLJ%29%20-%2032bit.zip">Download TGUI v0.6.4 with precompiled MinGW 4.7 TDM (SJLJ) 32-bit libraries</a> (SFML libs included)<br />
            <a href="https://www.dropbox.com/s/lq597nvg0i71sah/TGUI-0.6.4%20Visual%20C%2B%2B10%20%282010%29%20-%2032bit.zip">Download TGUI v0.6.4 with precompiled Visual C++ 10 (2010) 32-bit libraries</a> (SFML libs included)<br />
            <a href="https://www.dropbox.com/s/sm2ikzf5cw07gm6/TGUI-0.6.4%20Visual%20C%2B%2B11%20%282012%29%20-%2032bit.zip">Download TGUI v0.6.4 with precompiled Visual C++ 11 (2012) 32-bit libraries</a> (SFML libs included)<br />
            <a href="https://www.dropbox.com/s/0gxiyz0nbk4ubqd/TGUI-0.6.4%20Visual%20C%2B%2B12%20%282013%29%20-%2032bit.zip">Download TGUI v0.6.4 with precompiled Visual C++ 12 (2013) 32-bit libraries</a> (SFML libs included)<br />
            <a href="https://github.com/texus/TGUI/archive/v0.6.4.zip">Download TGUI v0.6.4 without precompiled libs</a> (to build it yourself with CMake for any compiler with SFML &gt; 2.1)
        </p>

    </div>

    {% include footer.ext %}
</div>
</body>
